.categorie__ul{
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    list-style-type: none;
    &__li{
        /*border: 1px solid #aaa;*/
        font-size: 1.5rem;
        color: black;
        background-color: #00e6f7;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
        &:hover{
            background-color: #007cf7;
        }
        &:active{
            background-color: #007cf7;
        }
        &.active{
            background-color: #007cf7;
        }
    }

}

.descriptionArticleCategorie {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.descriptionArticleCategorie.active {
    max-height: 300px;
    opacity: 1;
}

.TitreArticleCategorie{
    cursor: pointer;
    
}