.erreur_titre{
    text-shadow: 3px 3px 5px rgb(129, 243, 237);
    font-size: 4rem;
}

.erreur_message{
    text-shadow: 3px 3px 5px rgb(129, 243, 237);
    font-size: 2rem;
}

.erreur_recherche{
    margin-top: 5vh;
    form{
    width: 80vh;
    }
}

.erreur_global{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-height: 100vh;
    align-items: center;
}

.erreur_carte{
    width: 25vh;
    border-radius: 5vh;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.erreur_boutonCarte{
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5vh;
  justify-content: space-between;
  @media  screen and (max-width:1130px) {
    flex-direction: column;
}
}
