.erreur_titre{
   /* text-shadow: 3px 3px 5px rgb(129, 243, 237);*/
    font-size: 4rem;
}

.erreur_message{
    /*text-shadow: 3px 3px 5px rgb(129, 243, 237);*/
    font-size: 2rem;
}


.erreur_global{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-height: 100vh;
    align-items: center;
}


.erreur_carte{
    width: 25vh;
    /*border-radius: 5vh;*/
    text-align: center;
    background-color: yellow;
    color: black;
}

.erreur_carte a{
    color: black;
}

.erreur_boutonCarte{
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5vh;
  justify-content: space-between;
  /*@media  screen and (max-width:1130px) {
    flex-direction: column;
}*/
}

.erreur_boutonAccueil a{
    font-size: 2em;
    color: rgb(0, 125, 197);
    padding: 10px;
    /*border-radius: 5vh;*/
    text-align: center;
    background-color:yellow;
}



